<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
    </head>
    <body>
        <header>
            <div class="image"></div>
            <%- include("../fragmente/header.ejs") %>
        </header>
        <main>
            <div id="info-contact">
                <h1 class="heading"><i class="fa-solid fa-phone-volume"></i> Contact</h1>
                <p><b>Buticul cu flori</b> va este alaturi de peste 30 de ani, perioada in care am continuat sa crestem prin prisma tuturor sugestiilor, cat si a criticilor primite. Tocmai de aceea, cele <b>trei decenii</b> de experienta ne-au facut sa intelegem ca mai presus de orice trebuie sa pretuim relatia cu clientii nostri. </p>
                <h2 class="heading">Plasare, anulare si modificare comenzi</h2>
                <p>In cazul in care doriti sa <b>plasati o comanda</b> altfel decat din contul dumneavoastra online, informatiile noastre de contact va sunt puse la dispozitie mai jos</a>.</p>
                <div class="stilizare-link">
                    <ul class="ul-serviciu-clienti">
                        <li>Telefon: <a href="tel:+40712345678">+40712345678</a></li>
                        <li>Whatsapp: <a target="_blank" href="https://wa.me/+40712345678">+40712345678</a></li>
                        <li>E-mail: <a href="mailto:comenzi@buticul-cu-flori.com">comenzi@buticul-cu-flori.com</a></li>
                    </ul>
                </div>
                <h2 class="heading">Reclamatii si sesizari</h2>
                <div class="stilizare-link">
                    <p><b>Reclamatiile</b> le puteti face la adresa de email <a href="mailto:reclamatii@buticul-cu-flori.com">reclamatii@buticul-cu-flori.com</a>.</p>
                </div>
                <h2 class="heading">Informatii generale</h2>
                <div class="stilizare-link">
                    <p>Pentru orice fel de <b>nelamuriri</b> sau <b>informatii generale</b> despre serviciile noastre ne puteti contacta pe adresa de email <a href="mailto:buticul-cu-flori@yahoo.com">buticul-cu-flori@yahoo.com</a>.</p>
                </div>
                <h2 class="heading">Retele de socializare</h2>
                <div class="stilizare-link">
                    <p>Va vom raspunde in maxim <b>24 de ore</b> de la sesizare pe pagina noastra de <a target="_blank" href="https://www.facebook.com/profile.php?id=100037623483651">Facebook</a>.</p>
                </div>
            </div>
            <div id="program">
                <h1 class="heading"><i class="fa-solid fa-clock"></i> Program de functionare</h1>
                <ul class="ul-serviciu-clienti">
                    <li>Luni-Vineri 07:00-22:00 (livari intre 07:00-22:00)</li>
                    <li>Sambata-Duminica 09:00-21:00 (livari intre 10:00-21:00)</li>
                    <li>Sarbatori legale 09:00-17:00 (livari intre 10:00-17:00)</li>
                </ul>
            </div>
            <div id="conditii">
                <h1 class="heading"><i class="fa-solid fa-file-signature"></i> Termeni si conditii</h1>
                <p>Plasarea unei comenzi, atat <b>telefonic</b>, cat si prin intermediul <b>site-ului</b> florariei noastre, implica acceptarea urmatoarelor conditii:</p>
                <ol>
                    <li><b>Lorem ipsum</b> dolor sit amet consectetur, adipisicing elit. Nobis, est quisquam accusantium facere doloremque eos nesciunt assumenda aut quasi aspernatur placeat, voluptates officia, molestiae ab quam. Officia sapiente aperiam earum iusto vel, eos eaque, modi nostrum, hic eum culpa aliquam obcaecati architecto a sint minus itaque voluptates reprehenderit saepe totam!</li>
                    <li><b>Lorem ipsum</b> dolor sit amet consectetur adipisicing elit. Corporis tenetur reiciendis soluta eveniet quaerat, tempore excepturi non ipsa amet, nostrum eum sint? Illo cum ab corrupti asperiores amet, libero deserunt, ipsum ut corporis nobis quam, eveniet voluptatum nisi eos optio in quia minima voluptatibus aperiam dolores reiciendis inventore sit. Dolorem!</li>
                    <li><b>Lorem ipsum</b> dolor sit amet consectetur adipisicing elit. Quisquam molestiae ipsam molestias dignissimos quae! Ex veniam nihil doloribus necessitatibus aspernatur nulla enim asperiores, sint blanditiis, sequi fugit ipsa tempora rerum sapiente reprehenderit corrupti, suscipit alias. Illo totam molestiae quae, ipsum nisi voluptates impedit corrupti recusandae, facilis dolore accusamus exercitationem possimus.</li>
                    <li><b>Lorem ipsum</b> dolor, sit amet consectetur adipisicing elit. Quisquam, omnis, eaque quas sequi obcaecati libero aut minus quaerat praesentium earum veritatis qui delectus, ut dolorum eum provident quis quam quasi alias ea voluptas nostrum. Architecto magni expedita vel quaerat ea veritatis reprehenderit ratione voluptas deleniti distinctio, exercitationem repellendus, aliquam assumenda.</li>
                    <li><b>Lorem ipsum</b> dolor sit, amet consectetur adipisicing elit. Alias possimus sed eos quas quidem omnis, dolore consectetur ullam vitae quos? Labore libero vero a maiores. Sapiente doloribus animi in doloremque aut eum! Culpa iusto atque error mollitia repudiandae reiciendis temporibus. Porro ratione quos unde officiis! Debitis reprehenderit suscipit consectetur nisi.</li>
                </ol>
            </div>
            <div id="intrebari">
                <h1 class="heading"><i class="fa-solid fa-circle-question"></i> Intrebari frecvente</h1>
                <details>
                    <summary>Cum plasez o comanda?</summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, repellat eveniet id quibusdam aspernatur vel debitis. Expedita dolorum facilis officiis fugit placeat quis eaque consequatur, aliquid qui officia suscipit consectetur consequuntur cumque quod assumenda, amet dignissimos ab quidem, quos culpa unde dolores molestias. Ad possimus eius est perferendis dicta nesciunt.</p>
                </details>
                <details>
                    <summary>Care sunt modalitatile de plata acceptate?</summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, repellat eveniet id quibusdam aspernatur vel debitis. Expedita dolorum facilis officiis fugit placeat quis eaque consequatur, aliquid qui officia suscipit consectetur consequuntur cumque quod assumenda, amet dignissimos ab quidem, quos culpa unde dolores molestias. Ad possimus eius est perferendis dicta nesciunt.</p>
                </details>
                <details>
                    <summary>In cat timp voi primi comanda?</summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, repellat eveniet id quibusdam aspernatur vel debitis. Expedita dolorum facilis officiis fugit placeat quis eaque consequatur, aliquid qui officia suscipit consectetur consequuntur cumque quod assumenda, amet dignissimos ab quidem, quos culpa unde dolores molestias. Ad possimus eius est perferendis dicta nesciunt.</p>
                </details>
                <br>
            </div>
            <a href="#" id="link-top"><div id="sageata">&#129081;</div><span class="tooltip">Sus</span></a>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
            <script>
                function checkOffset() {
                    var a=$(document).scrollTop()+window.innerHeight;
                    var b=$('footer').offset().top;
                    if (a<b) {
                        $('#link-top').css('bottom', '5px');
                    } else {
                        $('#link-top').css('bottom', (5+(a-b))+'px');
                    }
                }
                $(document).ready(checkOffset);
                $(document).scroll(checkOffset);
            </script>
        </main>
        <footer>
            <%- include("../fragmente/footer.ejs") %>
        </footer>
    </body>
</html>