<title>Buticul cu flori</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="flori, buchete, aranjamente florale, trandafiri criogenati, Buticul cu flori">
<meta name="description" content="Florari dedicati cu o traditie in arta florilor inca din 1990. Oferim buchete de flori potrivite pentru orice ocazie sau eveniment. Livrare gratuita la orice comanda de minim 200 de lei, oriunde in Bucuresti. Livrare in maxim 3 ore.">
<meta name="author" content="Son Andreea-Marina">
<script src="https://kit.fontawesome.com/ee8fda1a40.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Red Hat Display">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair Display">
<link rel="stylesheet" href="/Resurse/css/biblioteci/bootstrap-custom.css">
<link rel="stylesheet" href="/Resurse/css/nav.css">
<link rel="stylesheet" href="/Resurse/css/nav-700.css" media="screen and (max-width:700px)">
<link rel="stylesheet" href="/Resurse/css/nav-1000.css" media="screen and (max-width:1000px)">
<link rel="stylesheet" href="/Resurse/css/layout.css">
<link rel="stylesheet" href="/Resurse/css/layout-700.css" media="screen and (max-width:700px)">
<link rel="stylesheet" href="/Resurse/css/layout-1000.css" media="screen and (max-width:1000px)">
<link rel="apple-touch-icon" sizes="144x144" href="/Resurse/Ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/Resurse/Ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/Resurse/Ico/favicon-16x16.png">
<link rel="manifest" href="/Resurse/Ico/site.webmanifest">
<link rel="mask-icon" href="/Resurse/Ico/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/Resurse/Ico/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/Resurse/Ico/browserconfig.xml">
<meta name="theme-color" content="#ffffff">