<h1 id="print-titlu" class="heading">
    Buticul cu flori
</h1>
<div id="print-watermark">
    Son<br>Andreea
</div>
<div id="print-banner">
    Acesta este un proiect școlar!
</div>
<h2 id="print-titlu-meniu" class="heading">
    Meniu:
</h2>
<div class="image"></div>
<div id="bara-meniu">
    <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/diverse/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <nav>
        <ul class="meniu">
            <li id="li-acasa">
                <a href="/home"><div class="copil-li-acasa"><i class="fa-solid fa-house"></i></div><div class="copil-li-acasa"> Acasa</div></a>
                <ul>
                    <li><a href="/home#despre">Cine suntem?</a></li>
                    <li><a href="/home#favorite">Favorite de sezon</a></li>
                    <li><a href="/home#recomandari">Recomandari</a></li>
                </ul>
            </li>
            <li>
                <a href="/serviciu-clienti"><div>Serviciu clienti</div></a>
                <ul>
                    <li><a href="/serviciu-clienti#info-contact">Contact</a></li>
                    <li><a href="/serviciu-clienti#program">Program functionare</a></li>
                    <li><a href="/serviciu-clienti#conditii">Termeni si conditii</a></li>
                    <li><a href="/serviciu-clienti#intrebari">Intrebari frecvente</a></li>
                </ul>
            </li>
            <li>
                <div>Produse</div>
                <ul>
                    <li><a href="#">Flori criogenate</a></li>
                    <li><a href="#">Buchete</a></li>
                    <li><a href="#">Flori in ghiveci</a></li>
                    <li><a href="#">Ocazii & evenimente</a></li>
                </ul>
            </li>
            <li><div>Inregistrare</div></li>
        </ul>
    </nav>
</div>