body{
    --culoare-text: #332422;
    --culoare-tabel-even:#E9B0A9;
    --culoare-tabel-odd:#FAAFA5;
    --culoare-celula-selectata:#F76855;
    --culoare-rand-selectat:#F08F82;
    --culoare-link: #F08F82;
    --culoare-background-link: #EFE7E6;
    --margin-main: 7%;
    --padding-main: 10px;
    --padding-tabel: 10px;
    --inaltime-meniu: 40px;
    --latime-buton: 175px;
    --culoare-meniu:#FAAFA5;
    --culoare-text-meniu:#EFE7E6;
    --culoare-text-meniu-selectat:#75332A;
    --culoare-shadow-link: #FAAFA5;
    --culoare-sageata-link: #F08F82;
    --culoare-tooltip: #F08F82;
    --culoare-tab-iframe: #ffebe8;
    --culoare-tab-iframe-selectat:#fffbfb;
    --culoare-border-iframe: #FAAFA5;
    --culoare-text-iframe: #FAAFA5;
    --culoare-background-footer: #FAAFA5;
    --culoare-heading: #332422;
    --culoare-icon-heading: #FAAFA5;
    --font-family: 'Red Hat Display';
    --font-family-heading: 'Playfair Display';
    
    font-family: var(--font-family), serif;
    color: var(--culoare-text);
    font-size: 16px;
    
    margin-left: 0;
    margin-right: 0;
}
main{
    margin-left:var(--margin-main);
    margin-right:var(--margin-main);
}
footer{
    background-color: var(--culoare-background-footer);
    color: white;
}
#copil-footer{
    margin-left: var(--margin-main);
    padding-top: 5px;
    padding-bottom: 20px;
}


#grid-pagina{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:"z-despre z-despre z-despre z-despre"
                        "z-despre z-despre z-despre z-despre"
                        "z-calendar z-orar z-orar z-anunturi"
                        "z-zona z-zona z-zona z-zona"
                        "z-zona z-zona z-zona z-zona"
                        "z-site-server z-site-server z-lista z-util-stat"
}
#grid-pagina > *{
    margin: 0;
    padding: var(--padding-main);
}
#despre{
    grid-area:z-despre;
}
#calendar{
    grid-area:z-calendar;
}
#orar{
    grid-area:z-orar;
}
#anunturi{
    grid-area:z-anunturi;
}
#lista-utilizatori{
    grid-area:z-lista;
}
#utilizator-statistici{
    grid-area:z-util-stat;
}
#site-server{
    grid-area:z-site-server;
}
#zona{
    grid-area:z-zona;
}
#ul-contact {
    list-style-type: none;
}


#orar h1{
    text-align: center;
}
#orar table{
    border-radius: 15px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
#orar table th{
    font-family: var(--font-family-heading), serif;
}
#orar table, #orar th, #orar td {
    border: 1px solid white;
    border-collapse: collapse;
}
#orar th, #orar td{
    padding: var(--padding-tabel);
}
#orar table caption{
    caption-side: bottom;
    font-family: var(--font-family-heading), serif;
}
#orar table th:nth-child(even), #orar table td:nth-child(even){
    background-color: var(--culoare-tabel-even);
}
#orar table th:nth-child(odd), #orar table td:nth-child(odd){
    background-color: var(--culoare-tabel-odd);
}
#orar table tr>td{
    transition: background-color 1.2s linear;
}
#orar table tr:hover>td
{
    background-color: var(--culoare-rand-selectat);
}
#orar table tr>td:hover{
    background-color:var(--culoare-celula-selectata);
}
#orar table tfoot tr{
    background-color: var(--culoare-tabel-odd);
    text-align: center;
}
#orar table caption{
    caption-side: bottom;
    background-color: var(--culoare-tabel-even);
    color: var(--culoare-text);
    padding: 5px;
}
#orar table caption a{
    color: var(--culoare-text)
}


#link-top{
    position:fixed;
    opacity:0.5;
    bottom:0.3em;
    left:0.3em;
    width:3rem;
    height:3rem;
    line-height:3.5rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 10px 5px var(--culoare-shadow-link) inset;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: var(--culoare-background-link);
    transition: opacity 0.5s linear, box-shadow 0.5s linear;
}
#sageata{
    transition: transform 0.5s linear;
    color: var(--culoare-sageata-link);
    scale: 2.2;
}
#link-top:hover{
    opacity:1;
}
#link-top:hover #sageata{
    transform: scale(1.3);
}
#link-top:hover .tooltip{
    visibility: visible;
    opacity: 1;
}
.tooltip {
    visibility: hidden;
    background-color: var(--culoare-tooltip);
    padding: 2px;
    z-index: 5;
    bottom: 120%;
    left: 90%;
    color: white;
    text-align: center;
    position: relative;
    opacity: 0.5;
    border-radius: 5px;
    transition: opacity 0.5s linear;
}


#stilizare-ifr{
    display: flex;
}
#stilizare-ifr iframe{
    border: 4px solid var(--culoare-border-iframe);
    display: block;
    z-index: 2;
}
#stilizare-link-ifr a{
    display: block;
    border: 1px solid var(--culoare-border-iframe);
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--culoare-tab-iframe);
    text-decoration: none;
    color: var(--culoare-text-iframe);
    font-weight: bold;
    position: relative;
    z-index: 0;
    left: -30px;
}
#stilizare-link-ifr a:hover, #stilizare-link-ifr div:hover a{
    transform: translateX(30px);
}
#stilizare-link-ifr div:hover, #stilizare-link-ifr a:hover, #stilizare-link-ifr div:hover a{
    background-color: var(--culoare-tab-iframe-selectat);
}
#stilizare-link-ifr a div{
    margin: 2px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 1px solid var(--culoare-border-iframe);
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--culoare-tab-iframe);
    padding-left: 40px;
}
#stilizare-link-ifr a div, #stilizare-link-ifr a{
    transition: background-color 1s linear, transform 1s linear;
}


.stilizare-link-footer a{
    color: white;
    text-decoration: none;
}
.heading-footer{
    color: white;
    font-family: var(--font-family-heading), serif;
}


.stilizare-link a{
    color: var(--culoare-text);
}
.heading{
    font-family: var(--font-family-heading), serif;
    color: var(--culoare-heading);
}
.heading i{
    color: var(--culoare-icon-heading);
}
.image{
    background-image: url(../Imagini/buticul_cu_flori_1700px.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 405px;
    background-size: cover;
}
